@import "../../../styles/variables";

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  &Link {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    &Active {
      font-weight: 500;
      &:hover {
        color: $white;
      }
    }
    &:hover {
      color: $light-green;
    }
  }

}

@media screen and (max-width: 768px) {
  .nav {
    &Link {
      padding-bottom: 4px;
      font-weight: 500;
      &Active {
        border-bottom: 2px solid $white;
      }
    }

  }
}

