@import "../../../styles/variables";

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  &Link {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    &Active {
      font-weight: 500;
      &:hover {
        color: $white;
      }
    }
    &:hover {
      color: $light-green;
    }
  }

}
