@import "../../../styles/variables";

.button {
  margin: 0;
  padding: 8px 20px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: $white;
  cursor: pointer;
}

.green {
  background-color: $light-green;
  color: $black;
}
.transparent {
  padding: 0;
  background-color: transparent;
}
.blue {
  background-color: $blue;
}